$float-positions: (
  none,
  left,
  right,
  initial,
  inherit
);

.post-meta {
  color: $post-meta;
  font-size: 110%;
  margin: 0.2em 0;
  overflow: hidden;
}

.post-meta a {
  color: inherit;
}

@each $position in $float-positions {
  .float-#{$position} {
    @include float($position);
  }
}
