$social-icon-names: (
  fa-stack-overflow,
  fa-github-alt,
  fa-twitter,
  fa-linkedin-square,
  fa-envelope,
  fa-rss,
  fa-building,
  fa-map-marker
);

$social-icon-name-to-color-name: (
  fa-stack-overflow: stack-overflow,
  fa-github-alt: github,
  fa-twitter: twitter,
  fa-linkedin-square: linkedin,
  fa-envelope: email,
  fa-rss: rss,
  fa-building: employer,
  fa-map-marker: location
);

$social-icon-containers: (
  employer,
  location
);

$social-icon-container-name-to-color-name: (
  employer: employer,
  location: location
);

.social-icon {
  @include transition(.4s);
}

@each $name in $social-icon-names {
  .#{$name}:hover {
    @include social_color($social-icon-name-to-color-name, $name);
  }
}

@each $name in $social-icon-containers {
  .#{$name}:hover span {
    @include social_color($social-icon-container-name-to-color-name, $name);
  }
}