$tag-names: (
  appthwack,
  jenkins,
  gradle
);

.tags {
  clear: both;
  list-style: none;
  text-align: right;
}

.tag {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: $tag-color;
  background: $tag-bg-color;
  font-size: 70%;
  text-transform: uppercase;
  display: inline-block;
}

@each $name in $tag-names {
  .tag-#{$name} {
    @include tag_bg_color($name);
  }
}
